.header {
    width: 100vw;
    height: 5vh;
    background-color: #4caf50;
    text-align: center;
    font-size: 24px;
}

/*Taken from: https://www.w3schools.com/csS/tryit.asp?filename=trycss_buttons_animate2*/
.button {
    position: relative;
    background-color: #4caf50;
    border: none;
    font-size: 28px;
    color: #ffffff;
    padding: 20px;
    margin: 5%;
    text-align: center;
    transition-duration: 0.1s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
    opacity: 0.5;
}

.button:hover {
    opacity: 1;
}

.flexContainer {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 15%;
    margin-top: 5%;
}